<h2>Add Teacher</h2>
<%= form_for([@school, @teacher], url: school_teachers_path) do |form| %>
  <%#= form.collection_select :school_id, School.all, :id, :name, prompt: true  %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :subject %>
  <%= form.text_field :subject %>
  <%= form.submit %>
<% end %>
<%= link_to "Back to home", root_path %>