<h2>School Register Page</h2>

<%= form_for :school, url: schools_create_path do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
<!--  <%#= form.label :city %><br>-->
  <%#= form.text_field :city %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to "Back to home", schools_index_path %>